.center {
    text-align: center;
}

.footer-home {
    display: flex;
    padding: 15px;
    background-color: rgb(255, 249, 245);
}

.text-footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Để căn giữa theo chiều ngang */
    background-color: rgb(225, 228, 230);
    width: 100%;
    height: 80px;
    font-size: 20px;
}

.information {
    font-weight: bold;
}

.f-listmenu a {
    text-decoration: none;
    color: black;
  }