.home-carousel {
    margin-bottom: 10px;
}

.custom-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.custom-card-price {
    font-weight: bold;
    color: #d0021c;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center; /* Đưa nút vào giữa theo chiều dọc */
 }

.detail {
    text-decoration: none;
    color: black;
    align-items: center;
}

.btn-order {
    background-color: #0d6efd;
}

.number-sales {
    font-size: 18px;
}


.button-contact {
    position: fixed;
    right: 20px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
}

.facebook-button {
    background-color: #1877f2;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.hotline-button {
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    width: 45px;
    height: 45px;
}

.go-to-top-button {
    background-color: #5bc0de;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.custom-card:hover {
    transform: scaleY(1.05);
}
  
.custom-card:hover .custom-card-title {
    color: #0695d2; 
}

.list-product {
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(5,minmax(0,1fr));
}

li {
    list-style-type: none;
    padding: 5px;
}